
@{
    ViewBag.Title = "XacThuc";
}
<style>
    .content {
        width: 400px;
        margin: auto;
        padding: 20px;
    }
    .shadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>
<div class="content shadow">
    <h3 class="text-center" style="margin-bottom: 30px">Xác thực tài khoản</h3>
    <div class="form-group">
        <label for="cmnd">CMND</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label for="cmnd">Số điện thoại</label>
        <input type="text" class="form-control" />
    </div>
    <input type="button" class="btn btn-primary" value="Xác nhận"/>
</div>
