<link href="~/Assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/Assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
@{ 
    var session = (DACN.Common.UserLogin)Session[DACN.Common.CommonConstants.USER_SESSION];
}
<div class="header" id="home">
    <div class="header-top">
        <div class="container">
            <div class="head-top">
                <div class="indicate">
                    <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i><a href="#">General Pvt 66, Dong Da Hanoi, Vietnam.</a>
                </div>
                <div class="deatils">
                    <ul>
                        @if (session == null)
                        {
                            <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a id="btn-sign-in" data-toggle="modal" data-target="#myModal" data-modal-show="one">Sign In</a></li>
                            <li><i class="glyphicon glyphicon-lock" aria-hidden="true"></i><a href="#" id="btn-register" data-toggle="modal" data-target="#myModal1" data-modal-show="two">Register</a></li>
                        }
                        else
                        {
                            <li><i class="glyphicon glyphicon-lock" aria-hidden="true"></i><a href="#" id="btn-register" data-toggle="modal" data-target="#myModal1" data-modal-show="two">@session.UserName</a></li>
                            <li><a href="/Account/Logout" style="background-color: #000022">Logout</a></li>
                            <li><a href="@Url.Action("Posting","Post")" class="btn btn-info">Đăng tin</a></li>
                        }
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="logo">
                <h1><a href="index.html">Green Roof<span>Real Estate</span></a></h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header-bottom">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <nav class="menu menu--francisco">
                            <ul class="nav navbar-nav menu__list <h4></h4>">
                                <li class="menu__item menu__item--current"><a href="index.html" class="menu__link"><span class="menu__helper">Home</span></a></li>
                                <li class="menu__item"><a href="about.html" class="menu__link"><span class="menu__helper">About</span></a></li>
                                <li class="menu__item"><a href="services.html" class="menu__link"><span class="menu__helper">Services</span></a></li>
                                <li class="menu__item"><a href="codes.html" class="menu__link"><span class="menu__helper">Codes</span></a></li>
                                <li class="menu__item"><a href="projects.html" class="menu__link"><span class="menu__helper">Projects</span></a></li>
                                <li class="menu__item"><a href="contact.html" class="menu__link"><span class="menu__helper">Contact</span></a></li>
                            </ul>
                        </nav>
                        <div class="social-icons">
                            <a href="#"><i class="icon"></i></a>
                            <a href="#"><i class="icon1"></i></a>
                            <a href="#"><i class="icon2"></i></a>
                            <a href="#"><i class="icon3"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.navbar-collapse -->
                    <!-- /.container-fluid -->
                </div>
            </nav>

        </div>
    </div>
</div>