<link href="~/Assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    
<link href="~/Assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
@{
    var session = (DACN.Common.UserLogin)Session[DACN.Common.CommonConstants.USER_SESSION];
}
<link href="~/Assets/css/fontawesome.min.css" rel="stylesheet" type="text/css" />
<div class="header" id="home">
    <div class="header-top">
        <div class="container">
            <div class="head-top">
                <div class="indicate">
                    <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i><a href="#">General Pvt 66, Dong Da Hanoi, Vietnam.</a>
                </div>
                <div class="deatils">
                    <ul>
                        @if (session == null)
                        {
                            <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a id="btn-sign-in" data-toggle="modal" data-target="#myModal" data-modal-show="one">Sign In</a></li>
                            <li><i class="glyphicon glyphicon-lock" aria-hidden="true"></i><a href="#" id="btn-register" data-toggle="modal" data-target="#myModal1" data-modal-show="two">Register</a></li>
                        }
                        else
                        {
                            <li>
                                <div class="dropdown show" >
                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="glyphicon glyphicon-lock" aria-hidden="true"></i>@session.UserName
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width: 200px">
                                        <a class="dropdown-item" href="@Url.Action("PostsManager","Posting")" style="margin: 10px; margin-bottom: 20px"><i class="glyphicon glyphicon-user" aria-hidden="true"></i>Quản lý bài đăng</a><br />
                                        <a class="dropdown-item" href="#" style="margin: 10px; margin-bottom: 20px"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i>Quản lý tài khoản</a>
                                        <a class="dropdown-item" href="#" style="margin: 10px; margin-bottom: 20px"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i>Bài viết đã lưu</a>

                                    </div>
                                </div> 
                            </li>
                            <li><a href="/Account/Logout" style="background-color: #000022">Logout</a></li>
                            <li><a href="@Url.Action("Posting","Posting")" class="btn btn-info" style="color: white">Đăng tin</a></li>

                        }

                    </ul>
                    
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="logo">
                <h1><a href="@Url.Action("HomePage","Home")">Green Roof<span>Real Estate</span></a></h1>
            </div>

        </div>
        @*<div class="modal" id="magagerAccount" style=" width: 10%; margin-left: 70%; margin-top: 40px; text-align: left">
            <div class="modal-content" style="padding-top: 20px; padding-left: 10px">
                <div class="form-group" style="align-items: center">
                    <a href="#">Quản lý bài viết</a>
                </div>
                <hr />
                <div class="form-group" style="align-items: center">
                    <a href="#">Chỉnh sửa tài khoản</a>
                </div>
            </div>
        </div>*@
    </div>
    <div class="container">
        <div class="header-bottom">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <nav class="menu menu--francisco">
                            <ul class="nav navbar-nav menu__list <h4></h4>">
                                <li class="menu__item menu__item--current"><a href="/Home/HomePage" class="menu__link"><span class="menu__helper">Home</span></a></li>
                                <li class="menu__item">@{Html.RenderAction("ListKieuBDS", "Home");}</li>
                            </ul>
                        </nav>
                        <div class="social-icons">
                            <a href="#"><i class="icon"></i></a>
                            <a href="#"><i class="icon1"></i></a>
                            <a href="#"><i class="icon2"></i></a>
                            <a href="#"><i class="icon3"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.navbar-collapse -->
                    <!-- /.container-fluid -->
                </div>
            </nav>

        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    var modal = document.getElementById("magagerAccount");
    var body = document.getElementsByTagName("BODY");

    $("btn-manager").click(function() {
        modal.style.display = "block";
    })
    body.onclick = function () {
        modal.style.display = "none";
    }
</script>